body {
    background-color: black;
}

h1 {
    font-family: cursive;
    text-align: center;
    border-bottom: 1px #f1f1f1 solid;
    width: 30%;
    margin-left: 35%;
    color: chocolate;
}

img {
    width: 30%;
    /* float --> get all pics to left into the same row */
    float: left;
    margin: 1.46%;
    border: white 1px solid;
}

#special {
    height: 860px;
}